<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@drawable/assignment_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assigment1"
        android:icon="@drawable/assignment_logo"
        android:label="@string/app_name"
        tools:targetApi="31">

        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Assigment1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>